<html>

<head>
<title>Music Synthesizer</title>
<style>
#button {
    width: 6em;
    border: 2px black;
    background: #ffe;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}
</style>
</head>
<body>
<p>The button below activates a JavaScript when it is clicked.</p>

<form action="/" method='post'>
    <div id="button"><a href="index1.html">Generate</a></div>
</form>
<script>
function msg() {
  alert("Running Code");
}
</script>


</body>
</html>